<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='stylos/estilos.css') }}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,">
    <title>Psicologísa</title>
    <script src="https://kit.fontawesome.com/4db3f232fb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <header class="navegacion">
            <h1>PsicologiClínica</h1>
        </header>
        <nav class="var-nav">
            <a href="/">Home</a>
            <a href="/sobremi">Sobre Mi</a>
            <a href="/contactos">Contactos</a>
        </nav>
    </div>

    <section class="presentacion">
        <div class="presentacion-img">
            <!-- <img src="../static/images/noemi.png" alt=""> -->
            <div class="imagen">
                <img src="" alt="imgenPrincipal">
            </div>
            <div class="nombre">
                <h1>Maria Noemí Paredes Rivas</h1>
            </div>
            
        </div>
        <p>Hola Soy María Noemí Paredes Rivas, Psicóloga Clínica con Maestría en Prevención en Drogodependencias y
            Otras Conduxtas Adictivas.Bienvenidx(s).</p>
    </section>
    <section>

    </section>
    <footer class="pie-pagina">
        <div class="goup-1">
            <div class="box">
                <h2>Sígueme</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </footer>
</body>

</html>